<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
<!-- hamari div class content hai toh hum vo pass kr rahe -->

<head>
    <title>ContactIQ | Update</title>
</head>

<body>
    <div id="content">

        <!-- if user logged in the show the side bar -->
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: side-bar}"></div>
        </div>

        <div class="sm:pl-64">
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-3"></div>


                <!-- Updated to use full width with w-full for the card -->
                <div class="flex w-full col-span-12 md:col-span-8 lg:col-span-9">
                    <div
                        class="card block max-w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div data-th-replace="~{message :: messagebox}"></div>

                        <h1 class="text-2xl font-semibold">Update Contact :) </h1>
                        <p class="text-gray-500">You can update contact details here and manage their information from this page</p>
</p>
                        <form class="mt-5" data-th-action="@{'/user/contacts/update/' + ${id}}" data-th-object="${contactForm}" enctype="multipart/form-data"
                            method="post" novalidate>
                            <!-- data-th-object="${contactForm}" ye ak blank object aayega jiski field directly change ho jayengi-->
                            
                            <!-- name form -->
                            <div class="mb-3">
                                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Contact Name
                                </label>
                                <div class="relative">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-solid fa-user h-4 w-4"></i>
                                    </div>
                                    <input data-th-field="*{name}" type="text" id="name"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="name" />
                                </div>
                                <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}"
                                    class="text-red-500 py-2 text-sm">
                                    Message
                                </p>
                            </div>

                            <!-- email -->
                            <div class="mb-3">
                                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Contact Email
                                </label>
                                <div class="relative">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-solid fa-envelope h-4 w-4"></i>
                                    </div>
                                    <input type="text" data-th-field="*{email}" id="email"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="example@email.com">
                                </div>
                                <p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}"
                                    class="text-red-500 py-2 text-sm">
                                    Message
                                </p>
                            </div>

                            <!-- phone-->
                            <div class="mb-3">
                                <label for="number"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Number</label>
                                <div class="relative">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-solid fa-phone h-4 w-4"></i>
                                    </div>
                                    <input type="text" data-th-field="*{phoneNumber}" id="number"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="XXXXXXXXXX">
                                </div>
                                <p data-th-if="${#fields.hasErrors('phoneNumber')}" data-th-errors="*{phoneNumber}"
                                    class="text-red-500 py-2 text-sm">Message</p>
                            </div>

                            <!-- address -->
                            <div class="mb-3">
                                <label for="address"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Address</label>
                                <textarea data-th-field="*{address}" rows="4"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Add the address of the contact"></textarea>
                                <p data-th-if="${#fields.hasErrors('address')}" data-th-errors="*{address}"
                                    class="text-red-500 py-2 text-sm">Message</p>
                            </div>

                            <!-- Birthday-->
                            <div class="mb-5">
                                <label for="birthday" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Birthday</label>
                                <input type="date" id="birthday" name="birthday" data-th-field="*{birthday}"  data-th-value="${contactForm.birthday != null} ? ${#temporals.format(contactForm.birthday, 'yyyy-MM-dd')} : ''"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>

                                <p data-th-if="${#fields.hasErrors('birthday')}" data-th-errors="*{birthday}" class="text-red-500 py-2 text-sm"></p>

                            </div>

                            <!-- description -->
                            <div class="mb-5">
                                <label for="description"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Description</label>
                                <textarea data-th-field="*{description}" rows="4"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Write about the contact..."></textarea>
                            </div>

                            <!-- socail links -->
                            <div class="flex space-x-1">
                                <div class="w-full">
                                    <!-- insta -->
                                    <div class="mb-3">
                                        <div class="relative mb-6">
                                            <div
                                                class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                <i class="fa-brands fa-instagram h-4 w-4"></i>
                                            </div>
                                            <input type="text" data-th-field="*{instaLink}"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                placeholder="https://www.instagram.com/username/
                                                ">
                                        </div>
                                    </div>

                                </div>
                                <div class="w-full">
                                    <div class="mb-3">
                                        <!-- linkedin -->
                                        <div class="relative mb-3">
                                            <div
                                                class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                <i class="fa-brands fa-linkedin h-4 w-4"></i>
                                            </div>
                                            <input type="text" data-th-field="*{linkedInLink}"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                placeholder="https://www.linkedin.com/in/username/
                                                ">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- contact image -->
                            <div class="mb-6">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                    for="large_size">Contact image</label>
                                <input
                                    id="image_file_input"
                                    class="block w-full text-sm  text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                    data-th-field="*{contactImage}" type="file"/>

                                    <p data-th-if="${#fields.hasErrors('contactImage')}" data-th-errors="*{contactImage}" class="text-red-500 py-2 text-sm">Message</p>
                                    <img class="max-h-52 mx-auto flex rounded" data-th-src="*{picture}" id="upload_image_preview" alt=""/>
                            </div>

                            <!-- favourite -->
                            <div class="flex items-center mb-8">
                                <input data-th-field="*{favourite}" type="checkbox"
                                    class="w-4 h-4 text-blue-600 bg-gray-200 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="default-checkbox"
                                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Is this contact
                                    your favourite?</label>
                            </div>

                            <!-- button -->
                            <div class="button_container mt-3 text-center">
                                <button type="submit"
                                    class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-200 focus:ring-4 focus:ring-gray-100 font-medium rounded text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Update
                                    Contact</button>
                                <button type="reset"
                                    class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-200 focus:ring-4 focus:ring-gray-100 font-medium rounded text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script data-th-src="@{'/js/admin.js'}"></script>
    <script>
        console.log("This is the profile page");
    </script>


</body>

</html>