<!DOCTYPE html>
<html lang="en" th:fragment="parent(content, title, script)">

<head>
    <meta charset="UTF-8">

    <!-- ✅ Safe CSRF block -->
    <th:block th:if="${_csrf != null}">
        <meta name="_csrf" th:content="${_csrf.token}" />
        <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    </th:block>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" data-th-href="@{'/css/style.css'}">

    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title data-th-replace="${title}">ContactIQ</title>

</head>

<body class=" text-left bg-gray-100 dark:bg-gray-900 dark:text-gray-100 pt-20">

    <!-- common header -->
    <!-- <div data-th-replace="~{navbar::navbar}"></div> -->

    <!-- if user logged in - navbar -->
    <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/user_navbar :: user-navbar}"></div>
    </div>
    <!-- if user not logged in - navbar -->
    <div th:unless="${loggedInUser}">
        <div data-th-replace="~{navbar :: navbar}"></div>
    </div>



    <section class="mt-20 " data-th-replace="${content}"></section>




    <!-- common footer -->
    <footer class="p-4 "></footer>


    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <!-- sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
    <th:block data-th-replace="${script}"></th:block>


</body>

</html>