<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{})}">

<head>
    <title>ContactIQ | Register</title>
</head>

<body>
    <div id="content">

        <div class="grid grid-cols-12">
            <div class="col-span-3 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <div 
                    class="block p-6 bg-white border-4 border-red-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-teal-200 dark:hover:bg-gray-700">
<!--                    message-->
                    
                    <div data-th-replace="~{message :: messagebox}"></div>

                    <h5 class="text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Signup here...</h5>
                    <p class="text-center font-normal text-gray-600 dark:text-gray-400">Welcome buddy...!</p>

                    <form data-th-action="@{'/do-register'}" method = "post" data-th-object = "${userForm}" class="mt-5" novalidate>
                        <!-- name -->
                        <div class="mb-3">
                            <label for="name"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                            <input type="text" id="name" data-th-field = "*{name}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter your name" required />

                            <p data-th-if ="${#fields.hasErrors('name')}" data-th-errors="*{name}" class = "text-red-500 py-2">Message</p>
                            <!-- th:errors will show all the errors on the field -->
                        </div>
                        <!-- email -->
                        <div class="mb-3">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                email</label>
                            <input type="email" id="email" data-th-field = "*{email}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter your email" required />
                                <p data-th-if ="${#fields.hasErrors('email')}" data-th-errors="*{email}" class = "text-red-500 py-2">Message</p>
                        </div>
                        <!-- password -->
                        <div class="mb-3">
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
                                Password</label>
                            <input type="password" id="password"  data-th-field = "*{password}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Set your password" required />
                                <p data-th-if ="${#fields.hasErrors('password')}" data-th-errors="*{password}" class = "text-red-500 py-2">Message</p>
                        </div>

                        <!-- phone number -->
                        <div class="mb-3">
                            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                            <input type="number" id="phone" data-th-field = "*{phoneNumber}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter 10 digit of your number" required />
                                <p data-th-if ="${#fields.hasErrors('phoneNumber')}" data-th-errors="*{phoneNumber}" class = "text-red-500 py-2">Message</p>
                        </div>

                        <!-- text area -->

                        <label for="about" class="block mb-3 text-sm font-medium text-gray-900 dark:text-white">Write
                            something about yourself</label>
                        <textarea id="about" rows="6"  data-th-field = "*{about}"
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Describe yourself">
                            
                        </textarea>
                        <p data-th-if ="${#fields.hasErrors('about')}" data-th-errors="*{about}" class = "text-red-500 py-2">Message</p>


                        <!-- buttons -->
                        <div class="mb-4 mt-5 flex justify-center">
                            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-600">Signup</button>
                            <button type="button" class="text-white bg-orange-700 hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-600">Reset</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>


</body>

</html>